@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {}

@layer base {
    * {
        box-sizing: border-box;
        font-family: "NanumSquare";
        font-size: 16px;
        font-weight: 400;
    }
}